/* anExternalCSS */

#Two paragraphs{
	text-align: center;
}

#p1{
	border: dotted 8px red;
	font-family: "verdana";
}

#p2{
  border-radius: 25px;
  border: 6px solid #73AD21;
  font-family: "courier";
  padding: 30px; 
  width: 650px;
  height: 150px; 
}

#Picture1{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#potato{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#Picture2{
	float: right;
}

a:link, a:visited, a:hover, a:active {
    background-color: blueviolet;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
